%h1
  Courses:
  = @courses.count
.container
  .row.row-cols-lg-4
    - @courses.each do |course|
      .col
        = render 'courses/course', course: course

= link_to 'New Course', new_course_path
